@import '~materialize-css/sass/components/color';

$primary-color: color("cyan", "darken-2") !default;
$primary-color-light: lighten($primary-color, 15%) !default; $primary-color-dark: darken($primary-color, 15%) !default;
